body {
    background-color: beige;
}

.button {
    border-radius: 2em;
    transition-duration: 0.4s;
    background-color:darkgreen;
    color: white;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }